@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    width: 100%;
    height: 700px;
    background: #EEEFF1;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    color: #34547A;
    font-family: "Revalia", sans-serif;
    font-weight: normal;
    font-size: 48px;
    margin-top: 40px;
}

.menu {
    display: flex;
    list-style-type: none;
    padding-top: 70px;
    margin-bottom: 166px;
}

.menu li > a {
    color: #34547A;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding-left: 42px;
    text-transform: uppercase;
}

.menu li > a:hover {
    color: #ea8212;
    transition: 1s color;
}

.header_information {
    display: flex;
    justify-content: center;
}

.header_block {
    margin-left: 140px;
}

.header_block > h1 {
    font-weight: 500;
    color: #000000;
    font-size: 48px;
    line-height: 30px;
}

.header_block > .text {
    width: 560px;
    padding-top: 60px;
    padding-bottom: 50px;
} 

.text {
    color: #727272;
    line-height: 26px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #34547A;
    width: 225px;
    height: 65px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.btn:hover {
    background-color: #227de5;
    transition: background-color 1s;
    cursor: pointer;
}

.about_me {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_me > h1 {
    color: #000;
    font-size: 32px;
    font-weight: 500;
}

.about_me .text > span {
    padding-left: 150px;
}

.about_me > .text {
    width: 540px;
    padding-top: 50px;
    padding-bottom: 100px;
    text-indent: 30px;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #34547A;
}

.projects_block {
    display: flex;
}

.project_numbers {
    color: #FFF;
    font-weight: 500;
    font-size: 21px;
    padding-left: 20px;
    padding-bottom: 8px;
}

.project_projects {
    padding-left: 20px;
    color: #FFF;
}

.skills {
    display: flex;
    justify-content: space-evenly;
}

.skill_my {
    margin-top: 204px;
}

.skill_block > .text {
    margin-bottom: 19px;
    margin-top: 29px;
}

.skill_my > h1 {
    font-weight: 500;
    font-size: 32px;
    color: #000;
    margin-bottom: 50px;
}


.straight1 {
    display: block;
    width: 350px;
    height: 4px;
    background-color: #34547A;  
}

.straight2 {
    display: block;
    width: 350px;
    height: 4px;
    background-color: #34547A;  
}

.straight1 {
    display: block;
    width: 445px;
    height: 4px;
    background-color: #C4C4C4;  
}

.skill_img > img {
    width: 555px;
    height: 450px;
    margin-top: 102px;
    margin-bottom: 101px;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1004px;
    background-color: #EEEFF1;

}

.work > h1 {
    color: #000;
    font-size: 32px;
    font-weight: 500;
    padding-top: 100px;
    padding-bottom: 50px;
}

.work > .text {
    text-indent: 30px;
    width: 540px;
    padding-bottom: 57px;
}

.work .text > span {
    padding-left: 150px;
}

.work_video {
    background: url("../img/main/Vector.png") 50% 50% no-repeat, url("../img/main/Rectangle5.png") no-repeat;
    background-size: auto, cover;
    width: 1110px;
    height: 600px;
}

.work_btn {
    position: relative;
    bottom: 353px;
    left: 597px;
}

.main_blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main_img1 {
    position: relative;
    display: block;
    width: 25%;
    height: 25vw;
    background: url("../img/main/Rectangle7.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.main_img2 {
    position: relative;
    display: block;
    width: 25%;
    height: 25vw;
    background: url("../img/main/Rectangle7.3.png");
    background-size: contain;
        background-repeat: no-repeat;
}

.main_img1:after { 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));  
    opacity: 0; 
}

.main_img1:before { 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: url("../img/main/Group.png") 50% 50% no-repeat; 
    opacity: 0; 
}

.main_img1:hover:before,
.main_img1:hover:after { 
    opacity: 1; 
    transition: 0.5s all;
}

.main_img2:after { 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));  
    opacity: 0; }

.main_img2:before { 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: url("../img/main/Group.png") 50% 50% no-repeat; 
    opacity: 0; 
}

.main_img2:hover:before,
.main_img2:hover:after { 
    opacity: 1; 
}


.main_clients {
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.main_clients > img:first-child {
    margin-left: 0;
}


.main_clients > img {
    margin-left: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 762px;
    background-color: #EEEFF1;
}

.form > h1 {
    color: #000;
    font-weight: 500;
    font-size: 32px;
    padding: 100px 0 50px 0;
}

.form > .text {
    text-indent: 30px;
    width: 540px;
    text-indent: 31px;
    padding-bottom: 65px;
}

.form .text > span {
    margin-left: 150px;
}

.form_information > input[placeholder] {
    color: #5F5D5D;
    font-size: 14px;
    font-weight: 400px;
    padding-left: 20px;
}

.form_information > input {
    width: 255px;
    height: 50px;
    background-color: #FFF;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    outline: none;
}

.form_information > input:last-child {
    width: 240px;
}

.form_message > textarea {
    outline: none;
    width: 540px;
    height: 175px;
    border: none;
    resize: none;
    margin-left: 20px;
}

.form_message > textarea[placeholder] {
    color: #5F5D5D;
    font-size: 14px;
    font-weight: 400px;
    padding-left: 20px;
    padding-top: 17px;
}

form > button {
    width: 190px;
    height: 55px;
    background-color: #34547A;
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.15em;
    margin-left: 200px;
    margin-top: 50px;
    border: none;
}

form > button:hover {
    cursor: pointer;
    background-color: #227de5;
    transition: background-color 1s;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 151px;
    background-color: #34547A;
}

.footer_author {
    color: #fff;
    font-weight: 500;
    font-size: 21px;
    padding-bottom: 15px;
}

.footer_rights {
    color: #FFF;
    font-weight: 400;
    font-size: 13px;
}

.footer_social > img {
    margin-left: 20px;
}
